.jumbotron{
}

#jumbotron-family {
  color: $mainBrandColor;
  background-color: $lightShades;
}

.flex-item img{
  max-width: 15vw;
  min-width: 5vw;
  transition: all 0.5s;
  margin-top: .5em;
  margin-bottom: .5em;
  margin-right: 5em;
  margin-left: .5em;
}

#jumbotron-family .curve {
  float: left;
  margin-right:2rem;
  border-radius: 50%;
  -webkit-shape-outside:circle();
  shape-outside:circle();
}

#jumbotron-family .desc {
  font-family: 'Kalam', monospace;
  font-size: 2vw;
  max-height: 15vw;
  min-height: 3vw;
}

.family-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-item{
  vertical-align: center;
  text-align:left;
  flex: 1;
  min-width: 400px;
}

#jumbotron-uiuc{
  font-family: adobe-garamond-pro, serif;
  background-color: $lightShades;
  color: $ILBlue;
}

#jumbotron-uiuc h1{
  font-size: 5em;
  font-weight: 700;
  /**
  color: $ILOrange;
  -webkit-text-stroke-color: $ILBlue;
  **/
  -webkit-text-stroke-color: $ILOrange;
  -webkit-text-stroke-width: thin;
}

.uiuc-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

