// Node
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";
@import "../node_modules/bootstrap/scss/mixins/_breakpoints";
@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Kalam|Varela+Round&display=swap');

.bg-container{
  background-color: $lightShades;
}

html{
  background-color: $lightShades;
}

// Font sizes
html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: .75rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

body{
  font-family: "Varela Round", sans-serif !important;
}

.body-margin{
  padding-top:30%;
  padding-left:10%;
  padding-right:10%;
}

@import 'navbar';
@import 'jumbotron';
