// Node
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";
@import "../node_modules/bootstrap/scss/mixins/_breakpoints";
@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Kalam|Varela+Round|EB+Garamond&display=swap');
@import url("https://use.typekit.net/ktr1lrv.css");

.bg-container{
  background-color: $lightShades;
}

html{
  background-color: $lightShades;
}

// Font sizes
html {
  font-size: 2.5vw;
}

body{
  font-family: "Varela Round", sans-serif !important;
}

.body-margin{
  padding-top:30%;
}

@import 'navbar';
@import 'jumbotron';
