.navbar {
  background: $lightAccent;
  transition: all 0.3s;
}
.navbar a {
  color: $lightShades;
}

.navbar img{
  max-width: 10%;
  transition: all 0.3s;
}

.navbar button {
}

.navbar.compressed {
  background: $darkShades;
  color: $lightAccent;
}
