.navbar {
  background: $darkShades;
  transition: all 0.5s;
}
.navbar a {
  font-size: .75rem;
  color: $mainBrandColor;
  white-space: nowrap;
}

.navbar img{
  max-width: 30%;
  transition: all 0.5s;
  margin-top: .5em;
  margin-bottom: .5em;
  margin-right: 5em;
  border-radius: 50%;
  -webkit-shape-outside: circle();
  shape-outside: circle();
}

.navbar p{
  padding-top: 2%;
  min-height: 100px;
  font-weight: 700;
  line-height: 400%;
  color: $mainBrandColor;
  font-size:1.5vw;
}


.navbar.compressed {
  background: $darkShades;
  color: $lightAccent;
}

