/* Colors by http://colormind.io/bootstrap/ */

/**
$lightShades:       #F5F7F3;
$lightAccent:       #6A92AE;
$mainBrandColor:    #00CCCC;
$darkAccent:        #B23C58;
$darkShades:        #222F45;
 */

$lightShades:       #F5F5F5;
$lightAccent:       #A4ABAB;
$mainBrandColor:        #69CAC5;
$darkAccent:    #747F82;
$darkShades:        #2B4B5E;
