<!--
TODO: Don't forget to wrap body in <div class="body-margin">...</div>
-->
<!-- NAV BAR -->
<nav class="navbar navbar-expand fixed-top shadow" id="navbar">
    <!-- Navbar Header [collects both toggle button and navbar brand] -->
    <div class="navbar-header">
        <!-- Navbar Brand -->
        <img id="me" src="/images/me.png"
             class="img-fluid rounded-circle shadow-lg bg-white rounded float-left"/>

        <p class="navbar-header-text" id="navbar-header-text">
            My names Alfred Sampang, but you can call me Aj
            <br/>&nbsp;&nbsp;&nbsp; I'm a Developer
            <br/>This is my personal website
        </p>
    </div>
    <div class="collapse navbar-collapse navbarNav" id="navbarNav">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">About Me
                <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/pages/blog/index.html">Blog
            </a>
            <a class="nav-item nav-link" href="/pages/wip.html">
                Projects</a>
        </div>
    </div>
</nav>
<!-- NAV BAR -->
